@inherits LayoutComponentBase


<div class="container" >
    <div class="row justify-content-center" style="">
        <div class="col" style="max-width: 750px; padding-left: 12px; padding-right:12px;margin-bottom:50px;">
            @Body
        </div>
    </div>
    <MenuBottom/>
</div>
