
@using Const
@using MamasRezepte.Shared.Models

<div class="row" data-masonry='{"percentPosition": true }'>

    @foreach (var hElement in FElements)
    {
        <div class="col col-12 col-sm-6 col-lg-4 mb-4">
            @if (FImages != null && FImages.Any())
            {
                <RecipeCardImage FTitle="@hElement.Name" FImageData="@FImages.FirstOrDefault(_ => _.RecipeId == hElement.Id).ImageData" />
            }
            else
            {
                <RecipeCardNoImage FTitle="@hElement.Name" FColor="@ColorConsts.RandomColor()" />
            }

        </div>
    }


</div>

@code {

    [Parameter]
    public IEnumerable<Recipe> FElements { get; set; }

    [Parameter]
    public IEnumerable<RecipeImage> FImages { get; set; }

    [Parameter]
    public int FNumCols { get; set; }

}
