
@using Const
@using MamasRezepte.Shared.Models
@using MamasRezepte.Client.State

@inject DataStateMain State 

<div class="row" data-masonry='{"percentPosition": true }'>

    @foreach (var hElement in FElements)
    {
    <div class="col col-12 col-sm-6 col-lg-4 mb-4">
        @if (State.FImages != null && State.FImages.Any())
        {
            Console.WriteLine("WithImage " + hElement.Name);
            <RecipeCardImage FRecipe="@hElement" />
        }
        else
        {
            Console.WriteLine("NoImage " + hElement.Name);
            <RecipeCardNoImage FTitle="@hElement.Name" FColor="@ColorConsts.RandomColor()" />
        }

    </div>
    }


</div>

@code {

    [Parameter]
    public IEnumerable<Recipe> FElements { get; set; }

    //[Parameter]
    //public IEnumerable<RecipeImage> FImages { get; set; }

    [Parameter]
    public int FNumCols { get; set; }

}
