
@using Const

<div class="row" data-masonry='{"percentPosition": true }'>
    
    @foreach(var hElement in FElements)
    {
        var hRandom = new Random();
        var hNumber = hRandom.NextDouble();
        <div class="col col-12 col-sm-6 col-lg-4 mb-4">
            @if(hNumber > 0.5){
                <RecipeCardImage FTitle="@hElement" />
            }
            else
            {
                <RecipeCardNoImage FTitle="@hElement" FColor="@ColorConsts.RandomColor()" />
            }

        </div>
    }


</div>

@code {

    [Parameter]
    public IEnumerable<string> FElements { get; set; }

    [Parameter]
    public int FNumCols { get; set; }

}
