
@using MamasRezepte.Shared.Models
@using MamasRezepte.Client.State
@using System.IO;

@inject NavigationManager Nav
@inject DataStateMain State
@inject DataStateDetail DetailState

<div @onclick="OpenRecipe" class="card shadow-sm" style="border:hidden;">
    <img src="@FImageSrc" class="card-img-top" alt="" style="max-height:150px;  object-fit:cover;">
    <div class="card-body">
        <h6 class="card-title">@FRecipe.Name</h6>
    </div>
</div>


@code {

    [Parameter]
    public Recipe FRecipe { get; set; }

    //[Parameter]
    //public string FImageData { get; set; }

    private string FImageData => State.FImages.FirstOrDefault(_ => _.RecipeId == FRecipe.Id).ImageData;

    private string FImageSrc => $"data:image/jpeg;base64,{ FImageData }";

    public void OpenRecipe()
    {
        Nav.NavigateTo(Path.Combine(Nav.BaseUri, "rezept/", FRecipe.Id+""));
    }

}
