

<div class="card shadow-sm" style="border:hidden;">
    <img src="https://image.brigitte.de/10974614/t/80/v3/w1440/r1.5/-/nuggets.jpg" class="card-img-top" alt="" style="max-height:150px;  object-fit:cover;">
    <div class="card-body">
        <h6 class="card-title">@FTitle</h6>
    </div>
</div>


@code {

    [Parameter]
    public string FTitle { get; set; }

}
