@page "/search_results"

@using AntDesign
@using MamasRezepte.Shared.Models

@inject HttpClient HttpClient


<h1>Suchergebnisse</h1>

<AntList DataSource="@SearchResultRecipes" ItemLayout="@ListItemLayout.Vertical">
    <LoadMore>
        <Button>Load more</Button>
    </LoadMore>
    <ChildContent Context="Recipe">
        <RecipeListItemBig Recipe ="@Recipe" />
    </ChildContent>
</AntList>

@code {

    // put to dataservice
    private string SearchQuery { get; set; }
    private IEnumerable<Category> SearchCategories { get; set; }
    private IEnumerable<MamasRezepte.Shared.Models.Tag> SearchTags { get; set; }
    private IEnumerable<Product> SearchProducts { get; set; }

    public IEnumerable<Recipe> SearchResultRecipes { get; set; }

    protected override async Task OnInitializedAsync()
    {
        SearchResultRecipes = await HttpClient.GetFromJsonAsync<IEnumerable<Recipe>>("/api/Recipes");
    }

}
